.color-forms-background{
    background-color: #c5c6c7;
}
.color-input-background{
    background-color: #f0f1f2;
}
.color-link-sair{
    border-style: solid;
    border-color: #fa0101;
    border-width: 2px;
    border-radius: 10px;
    background-color: #f9dcdc;
    color: #fa0101;
}
.color-link-sair:hover{
    border-color: #eb5d5c;
    background-color: #f9e6e6;

}
.color-link-editar{
    color: #00d80c;
}
.color-link-editar:hover{
    color: #59db60;

}
.color-link-excluir{
    color: #fa0101;
}
.color-link-excluir:hover{
    color: #eb5d5c;

}
.color-link-enviando{
    color: #00c3e6;
    font-weight: bold;
}
.color-link-enviando:hover{
    color: #52cfe6;
}
.color-link-parado{
    color: #ff7100;
    font-weight: bold;
}
.color-link-parado:hover{
    color: #fcad6d;
}
.font-size-small{
    font-size: 14px;
}
.color-link-proximo{
    color: #69d7ff;
    /*color: #67b0f0;*/
    font-weight: bold;
    border: 1px #69d7ff solid;
}
.color-link-proximo:hover{
    color: #69e9ff;
}
